body {
    font-family: 'Roboto', sans-serif;
    height: 100%;
    width: 100%;
    background-image: linear-gradient(rgb(0, 110, 110), rgb(0, 180, 180), rgba(255, 255, 255, 0.767));
    background-repeat: no-repeat;
    background-size: 100% 60%;
    background-attachment: fixed;
    border-bottom: 5px;
}

.nav-link:hover {
    cursor: pointer;
}

.content {
    margin-top: 10%;
    margin-bottom: 20px;
    box-shadow: 10px 15px 30px 0px rgb(117, 115, 115);
    border-radius: 1px;
    background-color: rgba(29, 33, 34, 0.801);
    color: white;
}

.left-content {
    padding-top: 60px;
    padding-bottom: 60px;
    font-family: 'Pacifico';
    border-right: 1px solid rgba(90, 170, 186, 0.726);
}

.profile-img img {
    margin-left: 150px;
    border:5px solid rgba(90, 170, 186, 0.726);
    border-radius: 100%;
}

.right-content {
    padding-top: 100px;
    padding-bottom: 50px;
    padding-left: 25px;
    border-left: 1px solid rgba(90, 170, 186, 0.726);
}

.right-content p {
    padding-left: 25px;
    padding-right: 100px;
    text-align: justify;
}

.left-content h1 {
    margin-top: 50px;
    text-align: center;
}

.quote {
    font-family: 'Cedarville Cursive', cursive;
}

.left-content h3 {
    text-align: center;
}

#skills-card,
#additional-card,
#timeline-card,
#langint-card,
#more-card {
    display: none;
    background-color: rgba(29, 33, 34, 0.801);
    color: white;
}

.card-title h2 {
    text-align: center;
    font-family: 'Roboto', cursive;
    font-weight: 700;
    padding-top: 50px;
}

.skill-label {
    margin: 50px;
}

.skill-label .alert {
    margin-left: 0;
}

.box {
    border: 1px solid #fff;
    border-radius: 10px;
    margin: 50px;
    padding: 10px;
}

#langint-card {
    text-align: center;
}

#langint-card span {
    margin: 0 5px 0 5px;
    opacity: 0.9;
}

#langint-card span:hover {
    opacity: 1;
}

#more-card .card-title h2 {
    font-family: 'Pacifico', cursive !important;
    font-weight: 100;
}

#more-card{
    text-align: center;
}

#more-card .col{
    color:white;
}

#more-card .col:hover{
    opacity: 0.8;
}