body {
    font-family: 'Roboto', sans-serif;
    height: 100%;
    width: 100%;
    background-image: linear-gradient(rgb(5, 170, 170), rgb(90, 170, 190), #fff);
    background-repeat: no-repeat;
    background-size: 100% 60%;
    background-attachment: fixed;
    border-bottom: 5px;
}

.content {
    margin-top: 10%;
    margin-bottom: 20px;
    box-shadow: 10px 15px 30px 0px rgb(117, 115, 115);
    border-radius: 1px;
}

.left-content {
    padding-top: 60px;
    padding-bottom: 60px;
    font-family: 'Pacifico';
    border-right: 1px solid rgba(90, 170, 186, 0.726);
}

.profile-img img {
    margin-left: 150px;
    box-shadow: 5px 10px 15px 5px rgba(117, 115, 115, 0.651);
}

.right-content {
    padding-top:100px;
    padding-bottom: 50px;
    padding-left: 25px;
    border-left: 1px solid rgba(90, 170, 186, 0.726);
}

.right-content p{
    padding-left: 25px;
    padding-right: 100px;
    text-align: justify;
}

.left-content h1 {
    margin-top: 50px;
    text-align: center;
}

.quote {
    font-family: 'Cedarville Cursive', cursive;
}

.left-content h3 {
    text-align: center;
}

#skills-card, #additional-card{
    display: none;
}

.card-title h2{
    text-align: center;
    font-family: 'Roboto', cursive;
    font-weight: 700;
    padding-top: 50px;
}

.skill-label{
    margin:50px;
}

.skill-label .alert{
    margin-left: 20px;
}

/* body {
    font-family: 'Roboto', sans-serif;
    font-weight: lighter;
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}

.thanks {
    font-family: 'Pacifico', cursive;
    margin: 0;
}

.name {
    font-weight: bolder;
    font-family: 'Lora', serif;
}

.project-title {
    font-weight: bold;
}

.projecr-card {
    margin: 10px;
    box-shadow: 0 5px 5px 0 #343a40;
}

.text-warning,
.bg-warning {
    color: orange !important;
}

.btn-warning {
    background-color: orange !important;
}

.social-brands {
    text-align: justify;
    align-content: center;
}

:focus {
    outline: 0px solid transparent !important;
}

.timeline {
    padding: 50px 0;
    position: relative;
}

.timeline-nodes {
    padding-bottom: 25px;
    position: relative;
}

.timeline-nodes:nth-child(even) {
    flex-direction: row-reverse;
}

.heading,
.timeline p {
    padding: 5px 15px;
}

.heading {
    font-weight: lighter;
}

.timeline p,
.timeline time {
    color: #343a40
}

.timeline::before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 50%;
    width: 0;
    border-left: 2px solid #343a40;
    height: 100%;
    z-index: 1;
    transform: translateX(-50%);
}

.timeline-content {
    border: 1px solid #343a40;
    position: relative;
    border-radius: 0 0 10px 10px;
}

.timeline-nodes:nth-child(odd) .heading,
.timeline-nodes:nth-child(odd) p {
    text-align: right;
}

.timeline-nodes:nth-child(odd) .timeline-date {
    text-align: left;
}

.timeline-nodes:nth-child(even) .timeline-date {
    text-align: right;
}

.timeline-nodes:nth-child(odd) .timeline-content::after {
    content: "";
    position: absolute;
    top: 5%;
    left: 100%;
    width: 0;
    border-left: 10px solid #343a40;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
}

.timeline-nodes:nth-child(even) .timeline-content::after {
    content: "";
    position: absolute;
    top: 5%;
    right: 100%;
    width: 0;
    border-right: 10px solid #343a40;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
}

.timeline-image {
    position: relative;
    z-index: 100;
}

.timeline-image::before {
    content: "";
    width: 50px;
    height: 50px;
    border: 2px solid #343a40;
    border-radius: 50%;
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    z-index: 1;
}

.timeline-image img {
    width: 30px;
    height: 30px;
    position: relative;
    z-index: 100;
} */

/*small device style*/
@media (max-width: 767px) {

    /* .timeline-nodes:nth-child(odd) .heading,
    .timeline-nodes:nth-child(odd) p {
        text-align: left
    }

    .timeline-nodes:nth-child(even) {
        flex-direction: row;
    }

    .timeline::before {
        content: "";
        display: block;
        position: absolute;
        top: 0;
        left: 4%;
        width: 0;
        border-left: 2px dashed #343a40;
        height: 100%;
        z-index: 1;
        transform: translateX(-50%);
    }

    .timeline h3 {
        font-size: 1.7rem;
    }

    .timeline p {
        font-size: 14px;
    }

    .timeline-image {
        position: absolute;
        left: 0%;
        top: 60px;
    }

    .timeline-nodes:nth-child(odd) .timeline-content::after {
        content: "";
        position: absolute;
        top: 5%;
        left: auto;
        right: 100%;
        width: 0;
        border-left: 0;
        border-right: 10px solid #343a40;
        border-top: 10px solid transparent;
        border-bottom: 10px solid transparent;
    }

    .timeline-nodes:nth-child(even) .timeline-content::after {
        content: "";
        position: absolute;
        top: 5%;
        right: 100%;
        width: 0;
        border-right: 10px solid #343a40;
        border-top: 10px solid transparent;
        border-bottom: 10px solid transparent;
    }

    .timeline-nodes:nth-child(even) .timeline-date {
        text-align: left;
    }

    .timeline-image::before {
        width: 65px;
        height: 65px;
    } */
}

/*extra small device style */
@media (max-width: 575px) {
    /* .timeline::before {
        content: "";
        display: block;
        position: absolute;
        top: 0;
        left: 3%;
    }

    .timeline-image {
        position: absolute;
        left: -5%;
    }

    .timeline-image::before {
        width: 60px;
        height: 60px;
    } */
}